*.7z
*.txt
*.log
__pycache__/
*.py[codz]
*$py.class
bin/
lib/
lib64/
var/
wheels/
.DS_Store
exchange.json
*.egg-info/
*.egg
MANIFEST
*.pickle
pip-log.txt
pip-delete-this-directory.txt
.ipynb_checkpoints
*.ipynb
.python-version
.env
.envrc
.vscode/
*.json{,l}
